/* Custom styles that override base.css */
a {
  color: var(--primary-500);
}
a:hover {
  color: var(--primary-600);
}

button {
  background-color: var(--primary-500);
  color: var(--neutral-100);
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  background-color: var(--primary-600);
  border-color: var(--primary-700);
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: var(--primary-700);
  }
  button {
    background-color: var(--primary-500);
  }
}
